header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
header nav a {
  border-bottom: 2px solid black;
  text-decoration: none;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
header nav .logo {
  font-family: lobster;
  font-size: 40px;
  border-bottom: 2px solid black;
  padding-bottom: 2.5rem;
}
header .travel-video {
  border: 2px solid black;
  border-radius: 2rem;
  height: 14rem;
  width: 100%;
}
