header {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media only screen and(min-width:800px){
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
  }
    a {
      border-bottom: @bbb;
      text-decoration: none;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      font-family: kanit;
      @media only screen and(min-width:800px){
        border-bottom: none;
    }
    }
    a:nth-child(2){
      color: @lightgreen;
  }
  a:nth-child(3){
      color: @lightturqoise;
  }
  a:nth-child(4){
      color: @lightred;
  }
  a:nth-child(5){
      color: @lightblue;
  }
    .logo {
      font-family: @wanderlust;
      font-size: 40px;
      border-bottom: @bbb;
      padding-bottom: 2.5rem;
      @media only screen and(min-width:800px){
       border-bottom: none; 
      }
    }
  }
  .travel-video {
    border: @bbb;
    border-radius: 2rem;
    width: 100%;
  }
  .mission {
    margin-top: 2rem;
    border-bottom: @bbb;
    .mission-title {
      margin: 0 auto;
      text-align: center;
      font-family: @wanderlust;
      font-size: 40px;
    }
    p {
      font-family: kanit;
      text-align: center;
    }
  }
}
